@{
    ViewData["Title"] = "Zarzadzanie";
}

<div class="row">
    <div class="page-header">
        <h1>Koszyk <small>@ViewBag.Title</small></h1>
    </div>
    </div>
<div class="row">
    <div class="col-xs-2 col-md-2">
        <a class="thumbnail" asp-controller="Produkt" asp-action="zarzadzajProduktami">
            <img src="~/images/settings.png" asp-append-version="true" class="img-fluid img-thumbnail">
            <div class="caption">
                Zarządzaj produktami
            </div>
        </a>
    </div>
    <div class="col-xs-2 col-md-2">
        <a class="thumbnail" asp-controller="Produkt" asp-action="dodajProdukt">
            <img src="~/images/addproduct.png" asp-append-version="true" class="img-fluid img-thumbnail">
            <div class="caption">
                Dodaj produkt
            </div>
        </a>
    </div>
</div>