@{
    ViewData["Title"] = "Strona główna";
}

<div class="row">
    <div class="col">
        <h1>Koszyk <small>@ViewBag.Title</small></h1>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>Witaj w mojej aplikacji</h2>
    </div>
</div>
