@{
    ViewData["Title"] = "Strona główna";
}

<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>Koszyk <small>@ViewBag.Title</small></h1>
        </div>
        <div class="col-xs-12">
            <h2>Witaj w mojej aplikacji</h2>
        </div>
    </div>
</div>
