
@{
    ViewData["Title"] = "bladIlosc";
}

<div class="row">
    <div class="col">
        <h1>Koszyk <small>Błąd</small></h1>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-danger">
            Masz już maksymalną ilość tego produktu w koszyku
        </div>
    </div>
</div>
